@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    background-image: linear-gradient(to right, #F2E3D5, #3CA6A6, #026773);
    font-family: 'Roboto', Helvetica, sans-serif;
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #01152691;
}

h1{
    color: #012E40;
    text-align: center;
}

h2{
    color: #024959;
    text-align: center;
}

p{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-align: justify;
}
